.PodcastUploadPlaceholder {
  .Placeholder__in {
    padding: 0;
  }
}

.PodcastNameAndAvatar {
  .Input {
    margin-right: 0 !important;
  }

  &.Tappable--active:not([disabled]):not(.TabsItem):not(.PanelHeaderButton):not(.Button):not(.PanelHeaderContent__in):not(.ActionSheetItem):not(.Banner__in) {
    background-color: #fff !important;
  }
}

.Hint {
  color: var(--text_secondary);
  font-size: 13px;
}
