.FormPopupSelect {
  margin: 0;
  padding: 0;

  .Banner {
    &__in {
      background: #fff;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 6px;

      &:before {
        border: none;
      }
    }

    &__content {
      padding: 0 !important;
    }
  }
}

.Hint {
  color: var(--text_secondary);
  font-size: 13px;
}
