.FileUploader {
  border: 1px dashed var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);
  height: 140px;
  border-radius: 10px;
  padding: 0;

  &:active {
    opacity: .6;
  }

  &--android {
    margin-left: 16px;
    margin-right: 16px;
  }

  &--ios {
    margin-left: 12px;
    margin-right: 12px;
  }

  &__preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &--preview {
    border-color: transparent;
  }
}

.Text {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 11px;
  }
}
.label {
  color: #6D7885;
  font-size: 14px;
  margin-bottom: 5px;

  &--ios {
    margin-left: 12px;
  }

  &--android {
    margin-left: 16px;
  }
}
