.Player {
  background-color: #F2F3F5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 0.5px solid #d7d8d9;
}

.Track {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 80px;

  &__line {
    background-color: #3F8AE0;
    border-radius: 6px;
    margin-right: 3px;
    width: 5px;
    pointer-events: none;
  }

  &__scrubber {
    position: absolute;
    height: 100px;
    z-index: 3;
  }
}

.Timeline {
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
  margin-bottom: 15px;
  border-bottom: 0.5px solid #99A2AD;

  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #99A2AD;
    background-color: #99A2AD;
    margin-right: 6px;
    width: 3px;
    position: relative;

    span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -18px;
    }
  }
}

.Actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  &__group {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.Trimmer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #3F8AE0;
  position: absolute;
}

.NonScrollable {
  overflow: hidden;
}

.Action {
  path {
    stroke: #3F8AE0;
  }

  use {
    color: #3F8AE0;
  }

  &.active {
    path {
      stroke: #F2F3F5;
    }

    use {
      color: #F2F3F5;
    }
  }
}
